<template>
	<div>
		<bounce-loader :loading="isLoading" :color="'#cc181e'" :size="size"></bounce-loader>
		<!-- v-bind:assets="ass1ets" es igual a -->
		<px-assets-table v-if="!isLoading" :assets="assets"/>
	</div>
</template>


<script>
	import api from '@/api'
	import PxAssetsTable from '@/components/PxAssetsTable';
	import BounceLoader from 'vue-spinner/src/BounceLoader.vue'

	export default {
		name: 'Home',
		components: {PxAssetsTable,BounceLoader},

		data () {
			return {
				isLoading: false,
				size: '350px',
				assets : []
			}
		},

		created () {
			this.isLoading = true
			api.getAssets().
				then(assets => (this.assets = assets))
				.finally(() => this.isLoading = false)
		}
	};
</script>